<div id="inventory-app">
    <nav class="navbar navbar-expand navbar-dark" style="background-color: #ff1a8c">
        <a href="#" class="navbar-brand">NgRx Inventory for UserId 5</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="add">Add</a>
            </li>
        </ul>
    </nav> 
    <div class="container mt-4">
        <div *ngIf="error$ | async">
            Error retrieving data
        </div>
        <div *ngIf="isLoading$ | async">
            Loading...
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
